.form {
  max-width: 385px;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__input {
  display: block;
  margin: 8px 0 32px;
  padding: 15px 20px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #838383;
  border-radius: 4px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #000;
}

input::placeholder {
  color: #838383;
}

.form__label {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000;
}

.form__button {
  margin-bottom: 32px;
  padding: 20px 0;
  width: 100%;
  border: none;
  border-radius: 4px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  background-color: #1878dc;
  transition: background-color 1s 0s;
}

.form__button:hover {
  background-color: #3f96f3;
}

.form__checkbox {
  border-radius: 2px;
  width: 20px;
  height: 20px;
  accent-color: #1878dc;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  gap: 12px;
  /* --i can hear Kevin say both answers right now so im not sure if i duplicate the text format or not
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000*/
}
