.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
  left: -50px;
  width: 105px;
  height: 39px;
}

.nav__links {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 20px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__link {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  transition: opacity color 0.5s;
}

.nav__link:hover {
  opacity: 0.5;
  color: #f3b6b6;
}
